<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Mandrewcito :: Landing page</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5 rounded-circle" src="img/timon.jpg" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">mandrewcito</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <div class="row">
        <a class="btn btn-lg btn-so"
        href="https://es.linkedin.com/in/anbaalo">
          <i class="fab fa-linkedin-in pr-1"></i>
          <span>Linkedin</span>
        </a>
        <a class="btn btn-lg btn-so"
        href="https://github.com/mandrewcito">
          <i class="fab fa-github pr-1"></i>
          <span>Github</span>
        </a>
        <a class="btn btn-lg btn-so"
        href="https://dev.to/mandrewcito/">
          <i class="fab fa-dev pr-1"></i>
          <span>dev.to</span>
        </a>
        <a class="btn btn-lg btn-so" href="https://es.stackoverflow.com/users/29448/mandrewcito">
          <i class="fab fa-stack-overflow pr-1"></i>
          <span>Stack Overflow</span>
        </a>
        <a  class="btn btn-lg btn-so" href="https://twitter.com/Mandrewcito">
          <i class="fab fa-twitter pr-1"></i>
          <span>Twitter</span>
        </a>
        <a class="btn btn-lg btn-so" href="https://www.instagram.com/mandrewcito/">
          <i class="fab fa-instagram pr-1"></i>
          <span>Instagram</span>
        </a>
      </div>
      </div>
 
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div id="app">


    <div class="row filter md-form ">
      <div class="col-lg-2 col-md-2"> </div>
      <div class="col-lg-6 col-md-6">
          <div class="mt-0">
              <input v-model="query" class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
      </div>
      <div class="col-lg-2 col-md-2  md-form ">
          <div class="custom-switch">
              <input  v-model="ownProjects" type="checkbox" class="custom-control-input" id="customSwitches">
              <label class="custom-control-label" for="customSwitches">Only mandrewcito's projects</label>
            </div>
      </div>
      <div class="col-lg-2 col-md-2"> </div>
    </div>
    <div class="row results">
        <div class="col-lg-2 col-md-2"> </div>
      <div class="col-lg-8 col-md-8">
          <ul class="list-group">
              <li
              class="media list-group-item my-4"
              v-for="(item, index) in linksFiltered">
              <a v-bind:href="item.url">
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                      <img class="mr-3" width="20" height="20" v-bind:src="item.favicon" alt="favicon" />
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <span>{{item.name}}</span>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <span v-for="(tag,idx) in item.tags" class="m-1 badge badge-secondary">
                      {{tag}}
                    </span>
                  </div>
                  <div class="col-lg-1 col-md-1">
                    <span>{{item.owner}}</span>
                  </div>
              </div>

            </a>
              </li>
              <li class="media list-group-item my-4" v-if="linksFiltered.length == 0">
                <div class="row">
                  <div class="col-lg-4">

                  </div>
                  <div class="col-lg-8">
                      <span>Could not get any result</span>
                    </div>
                </div>

              </li>
            </ul>
      </div>
    </div>
  </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">A Coruña</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contact</h4>
          anbaalo at gmail
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About</h4>
          <p class="lead mb-0">Tiny bootstrap template with a list filter in vuejs :)
            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
            <a href="https://vuejs.org/v2/guide/">Start Vue</a>.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Mandrewcito 2019</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script type="text/javascript" src="vendor/vue/vue.min.js"></script>
  <script type="text/javascript" src="vendor/axios/axios.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  <script type="text/javascript" src="js/appvue.js"></script>
</body>

</html>
