.masthead {
  padding-top: 50px;
  padding-bottom: 3rem;
  background-image: url("../img/nes.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
    text-shadow: -0.5px 0 grey,
    0 0.5px grey,
    0.5px 0 grey,
    0 -0.5px grey;

  }
  .masthead-subheading {
    font-size: 1.25rem;
    .bordegris{
              text-shadow: -0.5px 0 grey,
              0 0.5px grey,
              0.5px 0 grey,
              0 -0.5px grey;
    }
  }
  .masthead-avatar {
    width: 15rem;
  }
}

@include media-breakpoint-up(lg) {
  .masthead {
    padding-top: 50px;
    padding-bottom: 3rem;
    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead-subheading {
      font-size: 1.5rem;
    }

  }
}
